

table {
	margin-top: 20px;
	padding: 20px;
	border: 2px solid rgba(140, 140, 140, .5) ;
	border-left: 5px solid rgba(140, 140, 140, .5) ;
	border-right: 5px solid rgba(140, 140, 140, .5) ;
	background: #ffffff;
	width: 100%;
	border-collapse: unset;


}

table tr {
}

table tbody tr:nth-child(odd) {
	background-color: rgba(80, 180, 255, .2);
	color: ;
}

table tbody {
	background: #ffffff;
}

table th,
table td {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: center;
	vertical-align: middle;
}

table tr td:first-child {
	text-align: center;
	font-weight: bold;
}

tbody tr:first-child{
	font-weight: bold;
}

table th {
}

.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
	font-size: 3.5rem;
	font-weight: bold;
	text-align: center;
}

.table-container p {
	font-size: 1.5rem;
	color: #888;
	text-align: center;
}

.table-container tfoot {
	background: rgba(80, 180, 255, .15);
	font-weight: bold;
}

.table-container tfoot td {
	font-weight: bold;
}

.table-container thead {
	background: #3084F2;
	color: white;
	border: 1px solid white;
}